body {
  text-align:center;
  font-family: 'Helvetica';
}

#laptopInfoContainer {
  width: 750px;
  height: 200px;
  margin: 10px auto auto;
  padding: 20px;
  box-shadow: 2px 2px 5px;
  border-radius: 20px;
}

img {
  height: 150px;
  width: 180px;
  float: left;
  object-fit: cover;
}

.topContainer {
  display: inline-block;
  width: 230px;
  height: 270px;
  /* padding: 10px; */
  vertical-align: middle;
  box-shadow: 2px 2px 5px;
  border-radius: 20px;
  margin-right: 10px;
}

ul {
  font-size: 12px;
}

button {
  margin: 5px;
}